.songsContainer{
    margin: 15px 0;
}
button{
    cursor: pointer;
}
.oneSong{
    padding:15px 5px;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 1px 0px 5px rgb(0, 0, 0);
    margin: 5px 0;
}