* {
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  background-color: wheat;
}
header {
  margin: auto;
  width: 70%;
  background-color: yellow;
  height: 70px;
}
header h2 {
  margin: 0;
}
main {
  background-color: royalblue;
  margin: auto;
  width: 70%;
  min-height: 90vh;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}
aside {
  background-color: gray;
  flex-basis: 150px;
  flex-grow: 0;
  flex-shrink: 0;
  padding-top: 15px;
}
.content {
  background-color: white;
  padding-top: 25px;
  padding-left: 12px;
  
}
.content p{
  margin-top: 15px;
  max-width: 90%;
}
footer {
  background-color: gray;
  color: white;
  text-align: center;
  position: fixed;
  min-height: 25px;
  bottom: 0;
  width: 100%;
}
