body {
    background-color: violet;
  }
  article {
    display: inline-block;
    width: 200px;
    height: 100px;
    overflow: hidden;
    margin: 7px;
    background-color: white;
  }
  .midDiv {
    margin-left: 7px;
    height: 60px;
    overflow-y: auto;
    border: solid black;
    border-width: 3px 0;
  }